@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --text: #0c0c13;
    --background: #f5f5fa;
    --primary: #2c2b5e;
    --secondary: #8683ce;
    --accent: #3d39a2;
  }
  .dark {
    --text: #ececf3;
    --background: #05050a;
    --primary: #a2a1d4;
    --secondary: #34317c;
    --accent: #605dc6;
  }
}
